@font-face {
    font-family: cool-font;
    src: url(Norse-Bold.otf);
}

em {
    font-style: italic;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    font-family: cool-font;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    background-color: white;
    height: 99%;
    width: 80%;

}


.image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("plaat.avif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 90%;
}

.logo {
    background-image: url("odin-lined.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.473);
    background-size: 70px;
    font-family: cool-font;
    color: white;
    text-align: center;
    margin-top: 98px;
    height: 20%;

}

.p_taker {
    padding-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    color: wheat;
}


/* img {
    height: 100%;
} */

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: sans-serif;
    height: 97%;
}

.text {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
    /* align-items: center; */
    font-weight: bold;
    /* text-align: center; */
    line-height: 18px;
    font-size: 18px;
    background-color: rgb(189, 186, 186);
    padding: 15px;
    padding-top: 50px;
}

.hi {
    padding-left: 0;
    margin-top: 25px;

}

.form {
    display: flex;
    flex: 1;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    padding: 10px 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
}

.inp {
    display: flex;
    gap: 50px;
    margin-bottom: 10px;

}

.one {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.top_bottom {
    display: flex;
    flex-direction: column;
    gap: 1px;
}



.login_txt {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 15px;
}

button {
    
    width: 170px;
    background-color: #596d48;
    color: white;
    padding: 7px 9px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    margin-top: 14px;

}

p {
    margin-top: 20px;
}

a {
    text-decoration-line: none;
    color: #596d48;
    font-weight: bold;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 4px;
    font-size: 16px;
    text-indent: 4px;
    
}

.error {

    border-color: red;
}

input:focus {
    border-color: blue;
}

label {
    font-size: 12px;
}